<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; background-color: #e8ebf3;">
  <h1>
    {{ title }}
  </h1>

<br/>
<div class="container">
  <div class="row">
    <div class="col-7"></div>
    <div class="col-5">

      <form [formGroup]="selectForm" (ngSubmit)="searchOptions()">
          <div class="row">
            <div class="col-4">
              <select class="custom-select" class="form-control" formControlName="action">
                <option value="default" disabled>Transaction Type</option>
                <option *ngFor="let action of listAction" [value]="action">{{action | titlecase}}</option>
              </select>
            </div>
            <div class="col-4">
              <select class="form-control" formControlName="currencyCode">
                  <option value="default" disabled>Currency</option>
                  <option *ngFor="let currencyCode of listCurrencyCode"  [value]="currencyCode">{{currencyCode}}</option>
                </select>
            </div>
            <div class="col-2">
                <button  class="btn btn-success" type="submit">Submit</button>
            </div>
            <div class="col-2">
              <button  class="btn btn-info" type="submit" (click)="clear()">Clear</button>
            </div>
          </div>
      </form>
    </div>
  </div>
  <br/>
  <div class="row">
    <table class="table table-light table-bordered table-hover">
      <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Last 4 digits</th>
            <th scope="col">Transaction type</th>
            <th scope="col">Amont</th>
            <th scope="col">Currency</th>
        </tr>
      </thead>
      <tbody *ngFor="let transaction of listTransactions" >
        <tr (click)="openDetalle(transaction)" [ngClass]="transaction.isSelected? 'transactionSelected': ''">   
          <th>{{transaction.card.holderName}}</th>
          <th>{{transaction.brandId == 1060? "Diners Club": (transaction.brandId == 1060? "VISA": "MasterCard")}}</th>
          <th>XXXX {{transaction.card.lastFourDigits}}</th>
          <th>{{transaction.action | titlecase}}</th>
          <th>{{transaction.amount | number:'3.2'}}</th>
          <th>{{transaction.currencyCode}}</th>
        </tr>
        
        <tr class="detail" *ngIf="transaction.isSelected">
          <td colspan="6">
            <div class="row">
              <div class="col-2" style="color: #213d8f;">Id:</div>
              <div class="col-4">{{transaction.id}}</div>
              <div class="col-2" style="color: #213d8f;">First 6 Digits:</div>
              <div class="col-4">{{transaction.card.firstSixDigits}} XXXX</div>
            </div>
            <div class="row">
                <div class="col-2" style="color: #213d8f;">Tracking Code: </div>
                <div class="col-4">{{transaction.trackingCode}}</div>
                <div class="col-2" style="color: #213d8f;">Expiry Month:</div>
                <div class="col-4">{{transaction.card.expiryMonth}}</div>
              </div>
              <div class="row">
                  <div class="col-2" style="color: #213d8f;">Brand Id:</div>
                  <div class="col-4">{{transaction.brandId}}</div>
                  <div class="col-2" style="color: #213d8f;">Expiry Year:</div>
                  <div class="col-4">{{transaction.card.expiryYear}}</div>
                </div>
              </td>
          </tr>
      </tbody>
    </table>  
  </div>
</div>

</div>
<router-outlet></router-outlet>
